/*
Website Colors
red #f78888 | yellow #f3d250 | paig #ececec | skyColor #90ccf4 | blue #5da2d5

#657271	
#71a994
#aae387	
#eaeeb1	
#fff5cb
-----------------
Blueberry: #6B7A8F

Apricot: #F7882F

Citrus: #F7C331

Apple Core: #DCC7AA
#F8EFE3
*/

.col-md-12 {
    padding: 0;
}

body {
    background-color:#F8EFE3;
    color: #6B7A8F;
    margin: 30px 0;
}

.title {
    margin: 20px 0;
    color: #fff5cb;
}

.chapter,
.worksheet {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    float: right;
}

.chapter hr,
.worksheet hr {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.chapter h4 {
    text-decoration: underline;
    margin-bottom: 30px;
    color: #F7882F;
}

.chapter p {
    font-size: 20px;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.menu {
    padding: 0;
    border-radius: 0;
    float: left;
    margin-right: 20px;
    position: relative;
    width: 90%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: table;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid#ccc;
    display: table-cell;
    background-color: #F7882F;
}

.menu li a {
    color: #fff;
    width: 100%;
}

.menu .active a {
    background-color: #F7882F;
    color: #fff;
    width: 100%;
}

.menu li:hover a {
    background-color: #6B7A8F;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

.move {
    background-color: #6B7A8F !important;
    border: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.move a {
    color: #fff;
}

.move:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.move:hover a {
    text-decoration: none;
    color: #F7882F !important;
}

.radioForm p {
    font-size: 20px;

}

.radioForm p span {
    font-weight: 700;
}

.radioForm .form-check-inline {
    margin: 0 30px;
}

.radioForm .form-check-label {
    cursor: pointer;
    color: #F7882F;
}

.quotes div .form-check-label {
    cursor: pointer;
    font-size: 18px;
    display: inline;

}

.ChapterBoxes {
    margin: 10px 15px;
}

.MethodBoxes {
    margin: 10px 20px;
}

.worksheet label {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}

.worksheet input[type=number] {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.worksheet h5 {
    color: #F7882F;
    margin: 15px 0;
    line-height: 1.3;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
}

.slider:hover {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #F7882F;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #F7882F;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.worksheet .row {
    margin: 30px;
}

.row .col-md-2 h5 {
    color: #6B7A8F;
    margin: 0;
    padding: 0px 0;
    justify-content: center;
}

.tooltipi {
    position: relative;
    padding-top: 20px;
    height: 1em;
    text-align: center;
    color: red;
    font-weight: bold;
    white-space: nowrap;
}

.start,
.end {
    float: left;
    width: 10vw;
    color: #333;
    text-align: right;
    font-weight: bold;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

.divider {

    border-left: 2px solid #F7882F;
    padding-left: 30px;
}

.btn {
    margin: 0 15px;
}

iframe {
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 20px 0;
    width: 60%;
    height: 500px;
}


.form-check-inline {
    cursor: pointer;
}

.radioLabel {
    color: #F7882F;
    margin: 20px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.radioForm .radioLabelInp{
    color: #6B7A8F;
}

.form-radio {
    position: relative !important;
    background-color: #6B7A8F;
    color: #fff;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-radio:checked::before {
    position: absolute;
    font: 20px/1 'Open Sans', sans-serif;
    left: 9px;
    top: 3px;
    content: '\02143';
    transform: rotate(40deg);
}

.form-radio:checked,
.form-radio:hover {
    background-color: #F7882F;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.form-radio input:checked ~ .radioForm .radioLabelInp{ 
    color: #F7882F;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.checkbutton .form-radio {
    position: relative !important;
    background-color: #6B7A8F;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.checkbutton .form-radio:checked::before {
    position: absolute;
    font: 20px/1 'Open Sans', sans-serif;
    left: 9px;
    top: 3px;
    content: '\02143';
    transform: rotate(40deg);
}

.checkbutton .form-radio:hover {
    background-color: #F7882F;
}

.checkbutton input:checked{
    background-color: #F7882F

}
.checkbutton input:hover ~ label{
    color: #F7882F;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.checkbutton input:checked ~ label{
    color: #F7882F;
    font-weight: 400;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.weightRange .form-control{
    display: inline-block;
}

.weightRange label{
    margin-right: 10px;
}

.quotes{
    margin-bottom: 50px;
}

.limits{
    display: inline-flexbox;
}

input[type="range"] ~ span{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #6B7A8F;
    padding: 1px 8px;
    margin-top: 5px;
    border-radius: 6px;
    display: inline-block;
}

.table{
    display: none;
    text-align: center;
    color: red;
}

.table th{
    font-weight: 700;
    background-color: #F7882F;
}
.table th,
.table td{
    border: none;
    text-align: center;
}

.sliderTitle{
    color: #F7882F;
}

.sliderLabel{
    margin-bottom: 0 !important;
}

@media (max-width: 768px){
    .menu{
        display: none;
    }

    iframe{
        height: 244px;
        width: 70%;
    }

    .sliderLabel{
        margin-top: 30px !important;
    }

    .sliderTitle{
        display: none;
    }
    .divider {
         border-left:none;
         padding-left: 0px;
    }
    .radioForm .form-check-inline {
        margin: 0 20px;
    }

    .ChapterBoxes {
        margin: 10px 8px;
    }
}