<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="css/rangeslider.css">
  <link href="css/custom.css" rel="stylesheet">
  


  <title>Book | Chapter 1 </title>
</head>

<body>

  <div id="app">
    <div class="container-fluid">

      <div class="col-md-2">
        <div class="container">
          <nav class="navbar navbar-expand-lg bg-light menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-column">
                <li class="nav-item active">
                  <a class="nav-link" href="#">
                    Chapter1
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Chapter2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Chapter3</a>
                </li>
                <li class="nav-item move" id="sheetOne">
                  <a class="nav-link" href="#worksheet">Work sheet</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="col-md-10 chapter" id="chapter">
        <h2>Chapter 1 : Vulnerability</h2>
        <hr>
        <div class="col-md-12 text-center">
          <iframe width="60%" height="500" src="https://www.youtube.com/embed/D8gz_phMyFM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
          <q>
            <i>It’s only when we embrace our vulnerability that we’re able to reach our potential.</i>
          </q>
        </p>

        <p>Weight loss is much more than counting carbs and protein. Diets provide us with a framework to achieve
          a calorie deficit that results in weight loss. These tools achieve short-term goals. However, what then?
          At the core of a sustainable lifestyle change is vulnerability. This is how you defeat the temptation of
          using food and/or alcohol to help numb, and in many cases, bury the emotions driving your behavior.
          These bad choices allow you to avoid the messy, unresolved emotional issues in your life. Vulnerability
          is the key to facing and taking control of your reality</p>

        <p>Healing can only begin when you allow yourself to be vulnerable, thereby shutting out the external
          noise and being authentic. This requires deep emotional work that the majority of people will go out of
          their way to avoid because it’s uncomfortable, challenging and requires brutal honesty with yourself.
          However, this is the way to change your eating behavior and ensure sustained success. As Dr. Brene Brown
          says:</p>

        <p>
          <i>You can’t get to courage without first walking through vulnerability; vulnerability is not about
            winning or losing, it’s about showing up to be seen.</i>
        </p>

        <p>In such cases, “showing up to be seen” refers to talking about your depression or unhappiness, instead
          of using sugar to push your feelings away. In doing the latter, you limit access to joy, gratitude and
          happiness. You have to break the unhealthy cycle.</p>

        <h4>What Does Being Vulnerable Mean?</h4>

        <p>
          <q>
            <i>Vulnerability is our most accurate measure of courage.</i>
          </q>
        </p>

        <p>Vulnerability is a state of authenticity that exposes you to the extremes of possible emotional harm
          and heightened levels of love, empathy, acceptance and connection. Simply put, it is the core of all
          emotions. Vulnerability empowers you to be honest and true to yourself.</p>

        <p>When you share your deepest thoughts, feelings and insecurities, empathy and validation many times fail
          to greet you. Potential disapproval or anger may face you instead. This is where the fear of other’s
          judgement comes in as an additional barrier.</p>

        <p>You might also meet individuals who view vulnerability as a sign of weakness or a threat to their own
          safety or comfort. Therefore, they might avoid engaging at all costs.</p>

        <p>The combination of this fear and false belief makes it all the harder to embrace vulnerability and grow
          emotionally. Therefore, you need to recognize it as an asset that helps you reach a greater level of
          compassion and understanding of yourself and others. It is a foundation to long-term healing and
          happiness.</p>

        <p>It’s so easy to turn to excuses or vices like sugar, alcohol or tobacco to justify our current behavior
          and completely sidestep vulnerability. When you flee from vulnerability to seek out the status quo and
          shield yourself, you end up living life trying to blend in. This is nothing more than a defense
          mechanism, a conflict with who you are at your core. This internal struggle increases your likelihood of
          turning to any form of addiction, such as unhealthy foods and sugar.</p>

        <p>You are capable of tapping into your vulnerability, showing others the level of courage you possess.
          Vulnerability is key to unlocking deep-seated emotions and resolving internal conflicts that are driving
          your current mindset and behavior.</p>

        <div class="col-md-12 text-center">
          <iframe width="60%" height="500" src="https://www.youtube.com/embed/ROWLIUX5RAU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <h4>The Benefits of Vulnerability in Everyday Life</h4>

        <p>
          <b>1. Increases Opportunities for Love and Connection</b>
        </p>

        <p>As you become more vulnerable, the social mask that has helped you fake your way through life becomes
          less necessary. With this freedom comes an abundance of energy that can be applied to embracing who you
          are, emotionally and psychologically. As others understand your challenges, this vulnerability opens you
          up to empathy, understanding, and acceptance. Vulnerability, at its core, is about being human,
          acknowledging we are not perfect as a means to connect on a deeper level with others.</p>

        <p>
          <b>2. Provides the Strength to Face Challenges</b>
        </p>

        <p>From our greatest weaknesses emerge our greatest strengths. Oftentimes, when you’re going through
          challenging circumstances, how you react and grow determines your future success. Vulnerability is
          essential to engaging this process effectively. Recognizing your weaknesses in many ways strengthens
          your ability to face your obstacles. The missing ingredient many times is letting others in.</p>

        <p>
          <b>3. Creates Authenticity, Which Nurtures Relationships</b>
        </p>

        <p>
          Dependence on food and/or alcohol lets you retreat from vulnerability in order to suppress bad feelings
          and experience the short-term pleasure of a dopamine release. This cycle repeats, leading to more shame,
          guilt, and disappointment. The irony lies in Dr. Brown’s cogent insight: “The things we do to avoid
          vulnerability end up causing us more pain than vulnerability itself.” However, when you let yourself be
          vulnerable, our self-worth is constructed on the right building blocks: authenticity, positivity, and
          hope.
          With this foundation, your genuine self will find acceptance and forgiveness from those around you. Your
          connections will deepen as people emotionally connect with the “real” you.
        </p>

        <p>
          <b>4. Encourages Others Who Identify with Your Struggle</b>
        </p>

        <p>Vulnerability is contagious. When you open up to others, it empowers them to tell their own story while
          also enabling you to tell yours. Neither of you is alone. Better understanding leads to better
          identification of each other’s struggles within your corresponding narratives. This leads to speaking up
          more consistently about struggles and finding camaraderie in this struggle. You are not alone. The power
          of community is very real.</p>

        <h4>Roadblocks to Vulnerability</h4>

        <p>
          <q>
            <i>
              Have the courage to be imperfect, tell the story of who you are with your whole heart. Be willing to
              let go of who you think you should be in order to be who you are. Vulnerability is the core of shame
              and fear and our struggle for worthiness,
              but it appears that it’s also the birthplace of joy, of creativity, of belonging, of love.
              What makes you vulnerable makes you beautiful.
            </i>
          </q>
          <br>Dr. Brene Brown
        </p>

        <p>
          <b>1. Fear of What Others Will Say or Do</b>
        </p>

        <p>Outside influences are constantly driving our behavior. It is much easier to be a follower and simply
          blend in. To be authentic and true to yourself requires the courage to be vulnerable and commit to a
          lifestyle that allows you to be the best version of yourself.</p>

        <p>
          <b>2. Denial or Lack of Awareness</b>
        </p>

        <p>You keep pouring energy into convincing yourself that your excess weight doesn’t affect anything beyond
          the scale. In reality, your unhealthy lifestyle not only erodes all aspects of your life; the denial of
          this fact lets you avoid vulnerability, the key to starting the healing process.</p>

        <p>
          <b>3. Feelings of Unworthiness or Shame</b>
        </p>

        <p>When we start to see our struggles, weaknesses, and hang-ups, the natural inclination is to hide behind
          a mask. Our insecurities are exasperated by the expectation of perfection. This unrealistic view does
          nothing but arise feelings of unworthiness. Realize that ultimately, you are worthy of love, acceptance
          and connection; flaws are part of this package.</p>

        <br>
        <p>
          <b>Two Key Steps to Being Vulnerable</b>
        </p>

        <h4>Develop Awareness</h4>

        <p>Awareness has the power to help create deeper and more meaningful connections in your life. By
          embracing the temporary fear that might come with a better understanding of yourself and the consequence
          of your actions, you make possible a new level of joy and happiness. The key is letting awareness help
          you view your behavior for what it is. Then, vulnerability is the next logical step.</p>

        <p>
          <b>Check Your Mindset</b>
        </p>

        <p>Awareness will help you engage your surroundings on a new level. However, your belief and thoughts must
          drive the change needed to embrace our vulnerability. This mindset is an integral part of your new life:
          seek it. This is the next step.</p>

        <p>Vulnerability provides you with a critical perspective to address the limiting beliefs and emotions
          driving your current eating behaviors. With it, you are primed to embrace a lifestyle that better
          reflects the real you.</p>
        <div class="col-md-12 text-center">
          <iframe width="60%" height="500" src="https://www.youtube.com/embed/vNP8_5ITxKM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-10 worksheet" id="worksheet">
        <h2>Worksheet : Vulnerability</h2>
        <hr>
        <form>
          <div class="row weightRange">
            <div class="col-md-5">
              <label for="CurrentWeight">Current weight range </label>
              <input type="number" name="CurrentWeight" min="0" max="999" class="form-control" v-model="CurrentWeight">
            </div>

            <div class="col-md-2 text-center"></div>
            <div class="col-md-5">
              <label for="IdealWeight">Ideal weight range</label>

              <input type="number" name="IdealWeight" min="0" max="999" class="form-control" v-model="IdealWeight">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h5>
                Compare your current weight range with your ideal weight range.
                <br>Rate the categories below on a 0-10 scale.
                <br>/ Example - When I’m in my current weight range, my energy is (insert 0-10) /
              </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentEnergy">
              <span>{{CurrentEnergy}}</span>
            </div>

            <div class="col-md-2 text-center">
              <h5>Energy</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealEnergy">
              <span>{{IdealEnergy}}</span></div>
          </div>

          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentSelfImage">
              <span>{{CurrentSelfImage}}</span> </div>

            <div class="col-md-2 text-center">
              <h5>Self-Image</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealSelfImage">
              <span>{{IdealSelfImage}}</span></div>
          </div>

          <!--2-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentSelfConfidence">
              <span>{{CurrentSelfConfidence}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Self-confidence</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealSelfConfidence">
              <span>{{IdealSelfConfidence}}</span> </div>
          </div>
          <!--3-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentShame">
              <span>{{CurrentShame}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Shame</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealShame">
              <span>{{IdealShame}}</span></div>
          </div>
          <!--4-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentControl">
              <span>{{CurrentControl}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Feel in Control</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealControl">
              <span>{{IdealControl}}</span></div>
          </div>
          <!--5-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentMood">
              <span>{{CurrentMood}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Mood</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealMood">
              <span>{{IdealMood}}</span></div>
          </div>
          <!--6-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentFog">
              <span>{{CurrentFog}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Brain Fog</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealFog">
              <span>{{IdealFog}}</span></div>
          </div>
          <!--7-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentSelfWorth">
              <span>{{CurrentSelfWorth}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Self Worth</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealSelfWorth">
              <span>{{IdealSelfWorth}}</span></div>
          </div>
          <!--8-->
          <div class="row">
            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="CurrentHappiness">
              <span>{{CurrentHappiness}}</span></div>

            <div class="col-md-2 text-center">
              <h5>Overall Happiness</h5>
            </div>

            <div class="col-md-5 text-center">
              <input type="range" min="0" max="10" value="0" class="slider" v-model="IdealHappiness">
              <span>{{IdealHappiness}}</span></div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h5>
                Given your answers above and the change you would
                <br>experience in each of those
                emotions/ideas does your
                <br>lifestyle/weight/eating behaviors have a significant effect on the following:
              </h5>
            </div>
          </div>
          
          <div class="row radioForm">
            <div class="col-md-12 text-center">
              <p class="radioLabel">
                <span>1) Family i.e. </span> Spouse / significant other / boyfriend / girlfriend/ kids
              </p>
              <div class="form-check form-check-inline" v-for="option in radiosOptions">
                  <label class="form-check-label radioLabelInp" >
                      <input type="radio" class="form-check-input form-radio" name="familyCheck" 
                      v-model="familyCheck" :value="option">
                    {{option}}
                  </label>
              </div>
              
              <p class="radioLabel">
                  <span>2) Social Relationships i.e. </span> friends / peer groups / hobbies
                </p>
                <div class="form-check form-check-inline" v-for="option in radiosOptions">
                    <label class="form-check-label radioLabelInp" >
                        <input type="radio" class="form-check-input form-radio" name="socialCheck" 
                        v-model="socialCheck" :value="option">
                      {{option}}
                    </label>
                </div>

                <p class="radioLabel">
                    <span>3) Job </span> 
                  </p>
                  <div class="form-check form-check-inline" v-for="option in radiosOptions">
                      <label class="form-check-label radioLabelInp" >
                          <input type="radio" class="form-check-input form-radio" name="jobCheck" 
                          v-model="jobCheck" :value="option">
                        {{option}}
                      </label>
                  </div>

                  <p class="radioLabel">
                      <span>4) Love Life i.e. </span> intimacy, closeness w/ others
                    </p>
                    <div class="form-check form-check-inline" v-for="option in radiosOptions">
                        <label class="form-check-label radioLabelInp" >
                            <input type="radio" class="form-check-input form-radio" name="loveCheck" 
                            v-model="loveCheck" :value="option">
                          {{option}}
                        </label>
                    </div>


            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <h5>Chapter #1 - Vulnerability (cont.)</h5>

              <div class="form-check form-check-inline">
                <div class="ChapterBoxes checkbutton" v-for="ChapBox in ChapBoxes">
                  <input type="checkbox" class="form-check-input form-radio" name="Vulnerability" :id="ChapBox.id"
                    :value="ChapBox.value" v-model="ChapterBoxes">
                  <label class="form-check-label" :for="ChapBox.id">{{ChapBox.value}}</label>
                </div>
              </div>

              <div class="form-check form-check-inline">
                <div class="ChapterBoxes checkbutton" v-for="ChapBox in ChapBoxes2">
                  <input type="checkbox" class="form-check-input form-radio" name="Vulnerability" :id="ChapBox.id"
                    :value="ChapBox.value" v-model="ChapterBoxes">
                  <label class="form-check-label" :for="ChapBox.id">{{ChapBox.value}}</label>
                </div>
              </div>

              <div class="form-check form-check-inline">
                <div class="ChapterBoxes checkbutton" v-for="ChapBox in ChapBoxes3">
                  <input type="checkbox" class="form-check-input form-radio" name="Vulnerability" :id="ChapBox.id"
                    :value="ChapBox.value" v-model="ChapterBoxes">
                  <label class="form-check-label" :for="ChapBox.id">{{ChapBox.value}}</label>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <h5>Methods Used to Numb/Avoid Emotions</h5>
              </div>

              <div class="form-check form-check-inline">
                <div class="MethodBoxes checkbutton" v-for="MethBox in MethBoxes">
                  <input type="checkbox" class="form-check-input form-radio" name="Methods" :id="MethBox.id"
                    :value="MethBox.value" v-model="MethodBoxes">
                  <label class="form-check-label" :for="MethBox.id">{{MethBox.value}}</label>
                </div>

              </div>

              <div class="form-check form-check-inline">
                <div class="MethodBoxes checkbutton" v-for="MethBox in MethBoxes2">
                  <input type="checkbox" class="form-check-input form-radio" name="Methods" :id="MethBox.id"
                    :value="MethBox.value" v-model="MethodBoxes">
                  <label class="form-check-label" :for="MethBox.id">{{MethBox.value}}</label>
                </div>

              </div>

            </div>
          </div>

          <div class="row quotes">
            <div class="col-md-12 text-center">
              <h5>Quotes</h5>
            </div>

            <div class="col-md-6">
              <div class="QuotesOne form-check checkbutton">
                <div v-for="(quote, index) in QuotesOne" class="quotes">
                  <input type="checkbox" class="form-check-input form-radio" name="Quotes" :id="quote" :value="quote"
                    v-model="Quotes">
                  <label class="form-check-label" :for="quote">{{quote}}</label>
                </div>
              </div>
            </div>

            <div class="col-md-6 divider">
              <div class="QuotesTwo form-check checkbutton">
                <div v-for="(quote, index) in QuotesTwo" class="quotes">
                  <input type="checkbox" class="form-check-input form-radio" name="Quotes" :id="quote" :value="quote"
                    v-model="Quotes">
                  <label class="form-check-label" :for="quote">{{quote}}</label>
                </div>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <hr>
          <button type="submit" id="xportxls" class="btn btn-primary" onclick="doit('xlsx');">Submit</button>
          <button type="reset" class="btn btn-danger" value="submit">Reset</button>
        </div>
      </div>

      
      </form>
    </div>
  </div>

  <table id="chapterTable" class="table">
      <tr>
        <th>Current Weight</th>
        <th>Ideal Weight</th>
      </tr>
    <tr>
      <td>{{CurrentWeight}}</td>
      <td>{{IdealWeight}}</td>
    </tr>

    <tr>
        <th>Current Energy</th>
        <th>Ideal Energy</th>
      </tr>
    <tr>
      <td>{{CurrentEnergy}}</td>
      <td>{{IdealEnergy}}</td>
    </tr>

    <tr>
        <th>Current Self Image</th>
        <th>Ideal Self Image</th>
      </tr>
    <tr>
      <td>{{CurrentSelfImage}}</td>
      <td>{{IdealSelfImage}}</td>
    </tr>
    <tr>
        <th>Current Self Confidence</th>
        <th>Ideal Self Confidence</th>
      </tr>
    <tr>
      <td>{{CurrentSelfConfidence}}</td>
      <td>{{IdealSelfConfidence}}</td>
    </tr>

    <tr>
        <th>Current Shame</th>
        <th>Ideal Shame</th>
      </tr>
    <tr>
      <td>{{CurrentShame}}</td>
      <td>{{IdealShame}}</td>
    </tr>
    <tr>
        <th>Current Control</th>
        <th>Ideal Control</th>
      </tr>
    <tr>
      <td>{{CurrentControl}}</td>
      <td>{{IdealControl}}</td>
    </tr>
    <tr>
        <th>Curren tMood</th>
        <th>Ideal Mood</th>
      </tr>
    <tr>
      <td>{{CurrentMood}}</td>
      <td>{{IdealMood}}</td>
    </tr>
    <tr>
        <th>Current Fog</th>
        <th>Ideal Fog</th>
      </tr>
    <tr>
      <td>{{CurrentFog}}</td>
      <td>{{IdealFog}}</td>
    </tr>
    <tr>
        <th>Current Self Worth</th>
        <th>Ideal Self Worth</th>
      </tr>
    <tr>
      <td>{{CurrentSelfWorth}}</td>
      <td>{{IdealSelfWorth}}</td>
    </tr>
    <tr>
        <th>Current Happiness</th>
        <th>IdealHappiness</th>
      </tr>
    <tr>
      <td>{{CurrentHappiness}}</td>
      <td>{{IdealHappiness}}</td>
    </tr>
    
    <tr>
        <th>Family</th>
        <th>Social Relationships</th>
        <th>Job</th>
        <th>Love Life</th>
      </tr>
    <tr>
      <td>{{familyCheck}}</td>
      <td>{{socialCheck}}</td>
      <td>{{jobCheck}}</td>
      <td>{{loveCheck}}</td>
    </tr>

      <tr>
        <th>Vulnerability</th>
      </tr>
      <tr v-for="Chap in ChapterBoxes">
        <td>{{Chap}}</td>
      </tr>

      <tr>
          <th>Methods</th>
        </tr>
        <tr v-for="method in MethodBoxes">
          <td>{{method}}</td>
        </tr>

        <th>Quotes</th>
        </tr>
        <tr v-for="quote in Quotes">
          <td>{{quote}}</td>
        </tr>
  </table>
 
  </div>
</body>

<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/vue.js"></script>
<script src="js/rangeslider.min.js"></script>
<script src="js/vuescript.js"></script>
<script type="text/javascript" src="shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<script src="js/FileSaver.min.js"></script>
 
<script>
  var wb = XLSX.utils.table_to_book(document.getElementById('chapterTable'),{sheet:"Chapter1"});
  
  var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});

  function s2ab(s) {
              var buf = new ArrayBuffer(s.length);
              var view = new Uint8Array(buf);
              for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
              return buf;
            }

 $("#xportxls").click(function(){
   console.log("must print");
              saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'CHapter1.xlsx');
});
</script>
</html>